<div id="<%= dom_id project_type %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= project_type.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= project_type.description %>
  </p>
</div>
