<% content_for :title, "New project type" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New project type</h1>

  <%= render "form", admin_project_type: @admin_project_type %>

  <%= link_to "Back to project types", admin_project_types_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
