<% content_for :title, "Editing promotor" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing promotor</h1>

  <%= render "form", admin_promotor: @admin_promotor %>

  <%= link_to "Show this promotor", [:admin, @admin_promotor], class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to promotors", admin_promotors_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
