<section id="statistics" class="flex flex-wrap justify-around bg-gray-dark">
  <div class="p-4">
    <p class="text-green-muted text-2xl">+100 Projectos</p>
    <p class="text-white">FINANCIADOS</p>
  </div>

  <div class="p-4">
    <p class="text-green-muted text-2xl">+200 $</p>
    <p class="text-white">FINANCIADOS</p>
  </div>

  <div class="p-4">
    <p class="text-green-muted text-2xl">+80 Promotores</p>
    <p class="text-white">PROMOTORES</p>
  </div>

</section>
