<section id="about-us"
    class="min-h-[250px] bg-banner-promotor bg-cover bg-center bg-no-repeat p-4
          md:min-h-[350px] md:p-8
          lg:min-h-[450px] lg:p-8 ">
  <h1 class="text-3xl  text-white font-bold mb-4
          md:w-3/5 md:text-4xl
          lg:w-1/2 lg:text-8xl">FINANCIACIÓN A PROMOTORES</h1>
  <p class="text-white mb-6
            md:mb-10
            lg:mb-16">Si eres un promotor con experiencia no tendras que preocuparte de encontrar capital para tus proyectos</p>
  <%= link_to "Registrarse", new_user_session_path,
        class: "bg-green-primary text-white rounded-xl py-2 px-6
            hover:bg-green-muted"
    %>
</section>

<!--statistics-->
<%= render 'shared/statistics' %>

<section>
  <div>
    <h2 class="text-2xl bg-[#D9D9D9] font-bold mb-4 text-center px-4 py-2
              md:text-3xl md:py-4
              lg:py-6">FINANCIACIÓN A PROMOTORES EN 4 PASOS</h2>
  </div>
  <div class="flex flex-wrap justify-around">
    <div class="flex items-center flex-col px-8
                md:w-1/2
                lg:w-1/4 ">
      <p class="flex items-center justify-center h-8 w-8 border-2 border-green-primary rounded-full text-green-primary text-center
                md:h-12 md:w-12 md:text-2xl
                lg:h-20 lg:w-20 lg:text-3xl">1</p>
      <h4 class="font-bold text-lg
                  md:text-xl
                  lg:text-2xl">Registro</h4>
      <p>Registro en la plataforma y aportación de la información y documentación solicitada.</p>
    </div>

    <div class="flex items-center flex-col px-8
                md:w-1/2
                lg:w-1/4 ">
      <p class="flex items-center justify-center h-8 w-8 border-2 border-green-primary rounded-full text-green-primary text-center
                md:h-12 md:w-12 md:text-2xl
                lg:h-20 lg:w-20 lg:text-3xl">2</p>
      <h4 class="font-bold text-lg
                  md:text-xl
                  lg:text-2xl">Estudio</h4>
      <p>Estudio de los términos y condiciones de la solución planteada y aceptación de la oferta.</p>
    </div>

    <div class="flex items-center flex-col px-8
                md:w-1/2
                lg:w-1/4 ">
      <p class="flex items-center justify-center h-8 w-8 border-2 border-green-primary rounded-full text-green-primary text-center
                md:h-12 md:w-12 md:text-2xl
                lg:h-20 lg:w-20 lg:text-3xl">3</p>
      <h4 class="font-bold text-lg
                  md:text-xl
                  lg:text-2xl">Captación</h4>
      <p>Captación de los fondos requeridos para el proyecto a través de la plataforma.</p>
    </div>

    <div class="flex items-center flex-col px-8
                md:w-1/2
                lg:w-1/4 ">
      <p class="flex items-center justify-center h-8 w-8 border-2 border-green-primary rounded-full text-green-primary text-center
                md:h-12 md:w-12 md:text-2xl
                lg:h-20 lg:w-20 lg:text-3xl">4</p>
      <h4 class="font-bold text-lg
                  md:text-xl
                  lg:text-2xl">Formalización</h4>
      <p>Formalización de la transacción e inicio del desarrollo y seguimiento del proyecto.</p>
    </div>
  </div>

</section>

<section>
  <h2 class="text-2xl font-bold mb-4 px-4 py-2
              md:text-3xl md:py-4
              lg:py-6">Promotores que confian en nosotros</h2>
  <div class="flex flex-wrap justify-around">
    <% @promotors.each do |promotor| %>
      <%= render 'promotor_card', promotor: promotor %>
    <% end %>
  </div>
</section>
