<table class="min-w-full overflow-x-scroll">
  <thead class="bg-white border-b">
    <tr>
      <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
      </th>
      <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
        Name
      </th>
      <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
        Description
      </th>
      <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
        Estado
      </th>
    </tr>
  </thead>
  <tbody>
    <% admin_projects.each do |p| %>
      <tr class="bg-gray-50 border-b">
        <td class="px-6 py-4 whitepsace-nowrap tex-sm font-medium text-gray-800 underline">
          <% if p.images.any? %>
            <%= image_tag p.images.first.variant(:thumb) %>
          <% end %>
        </td>
        <td class="px-6 py-4 whitepsace-nowrap tex-sm font-medium text-gray-800 underline">
          <%= link_to p.name, edit_admin_project_path(p) %>
        </td>
        <td class="px-6 py-4 whitepsace-nowrap tex-sm font-medium text-gray-800">
          <%= p.description %>
        </td>
        <td class="px-6 py-4 whitepsace-nowrap tex-sm font-medium text-gray-800">
          <%= p.status %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
