<!-- Filter options -->

<div>
  <h1>Proyectos</h1>
  <%= link_to "Nuevo Proyecto", new_admin_project_path, class: "bg-green-300" %>

</div>



<table>
  <thead>
    <tr>
      <td>N°</td>
      <td>Projecto</td>
      <td>Descripción</td>
      <td>Ubicación</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <% @projects.each do |project|  %>
    <tr>
      <td><%= project.id %></td>
      <td><% project.name %></td>
      <td>Ubicación</td>
      <td>
        <%= link_to "Editar", admin_project_path(@project), class: "bg-blue" %>
        <%= link_to "Eliminar", admin_project_path(@project),
            data: {turbo_method: :delete, turbo_confirm: "¿Estás seguro que deseas eliminar este proyecto?"},
            class: "bg-blue" %>
      </td>
    </tr>
  <% end %>

</table>
