<div class="grid grid-cols-3 ">

  <div>
    <div class="flex">
      <p class="text-sm">$ 755,000</p>
    </div>
    <p class="text-gray-400 text-xs">Minimo</p>
  </div>

  <div>
    <div class="flex">
      <p class="text-sm">$ 105,000</p>
    </div>
    <p class="text-gray-400 text-xs">Recaudado</p>
  </div>

  <div>
    <div class="flex">
      <p class="text-sm">$4,000,000</p>
    </div>
    <p class="text-gray-400 text-xs">Objetivo</p>
  </div>

</div>

<div class="w-full mt-2 bg-gray-200 rounded-full h-2.5">
  <div class="bg-[#22A881] h-2.5 rounded-full" style="width: 45%"></div>
</div>
