<div class="bg-white w-[280px] rounded-lg px-4 mt-4">
  <div>
    <h3>Berlín, Alemania</h3>
    <p>Comercial</p>
    <%= image_tag("icons/Position.svg") %>
    <p><%= project.location %></p>
  </div>
  <div>
    <% if  %>
      
    <% end %>
  </div>
</div>
