<div class="grid grid-cols-2 gap-4 h-[120px]">
  <!-- Left side -->
  <div class="grid gap-y-4">
    <div>
      <div class="flex">
        <%= image_tag "icons/Arrow Up Left Contained.svg", class: "h-6 w-6" %>
        <p class="text-sm">10% anual</p>
      </div>
      <p class="text-gray-400 text-xs">Tasa de retorno</p>
    </div>

    <div>
      <div class="flex">
        <%= image_tag "icons/calendar.svg", class: "h-6 w-6" %>
        <p class="text-sm">5 años</p>
      </div>
      <p class="text-gray-400 text-xs">Plazo</p>
    </div>

  </div>
  <!-- Right side -->
  <div>
    <div>
      <div class="flex">
        <%= image_tag "icons/dolar-icon.svg", class: "h-6 w-6" %>
        <p class="text-sm">5,000</p>
      </div>
      <p class="text-gray-400 text-xs">Inversión mín</p>
    </div>
  </div>

</div>
