<section>
  <div>
    <h2>Oportunidades para invertir <span><%= @open_projects.count() %></span></h2>
  </div>
  <div class="flex flex-wrap justify-around bg-[#EEEEEE] opacity-100">
    <% @open_projects.each do |op| %>
      <%= render "project_card", project: op %>
    <% end %>
  </div>
</section>

<section>
  <div>
    <h2>Campañas fondeadas <span>00</span></h2>
  </div>
  

</section>
