<table class="min-w-full overflow-x-scroll">
  <thead class="bg-white border-b">
    <tr>
      <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
      </th>
      <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
        Nombres y Apellidos
      </th>
      <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
        País
      </th>
      <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
        Email
      </th>
      <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
        Número de telefono
      </th>
    </tr>
  </thead>
  <tbody>
    <% admin_users.each do |u| %>
      <tr class="bg-gray-50 border-b">
        <td class="px-6 py-4 whitepsace-nowrap tex-sm font-medium text-gray-800 underline">

        </td>
        <td class="px-6 py-4 whitepsace-nowrap tex-sm font-medium text-gray-800 underline">
          <%= link_to u.full_name, edit_admin_user_path(u) %>
        </td>
        <td class="px-6 py-4 whitepsace-nowrap tex-sm font-medium text-gray-800">
          <%= u.country_code %>
        </td>
        <td class="px-6 py-4 whitepsace-nowrap tex-sm font-medium text-gray-800">
          <%= u.email %>
        </td>
        <td class="px-6 py-4 whitepsace-nowrap tex-sm font-medium text-gray-800">
          <%= "#{u.phone_prefix} #{u.phone_number}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
